/* MAP AREA PROPERTIES */
#chartContainer {
  width: 600px;
  height:350px;
  left:50%;
  top:43px;
  /*margin:auto;*/
  margin-left: -300px;
  position:absolute;
  /*margin-top:7px;*/
  /*margin-bottom: 15px;*/
}

/* rectangle allowing for handling events outside standard svg state elements*/
#container {
	fill: none;
	width:100%;
	height:100%;
	pointer-events:all;
}

#gMenu {

}
#rectMenu {
    fill: white;
    position:absolute;
    /*top:50px;*/
    width: 600px;
    height: 600px;
    margin: 50px;
    fill-opacity: 0.9;
}

.menuCircle {
  fill: #DDDDDD;
}

.menuLabel {
    font-size: 1.7rem;
    font-weight: 400;
}

.state {
  fill: #DDDDDD; /* ZKOUSEJ JINY BARVY, MOZNA SVETLEJSI */
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.ActiveState:hover {
	stroke: #4F4F4F;/* ZKOUSEJ JINY BARVY*/
	stroke-width:1px;
}
.state-line {
	fill:none;
	stroke:#AAAAAA;
	stroke-width:1px;
}

.legend-text {
	font-size:1.2rem;
	font-weight:400;
}

.tooltip {
	font-size: 1.3rem;
}

#legendUnit {
    
}

#svgLegend {
	position:relative;
	top:0px;
	height:40px;
}

#svgMap {
	width:600px;
	height:400px;
}

#svgMenu {
  width: 600px;
  height: 600px;
  position:absolute;
  top:80px;
  left:50%;
  margin-left:-300px;
}

#rectGradient {
	left:150px;
}

div.tooltipfloat {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size:1.4rem;
  background: #D1D4D3;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
  padding:4px;
}
